# Ignore virtual environment inside code/
code/venv/

# Byte-compiled / optimized / DLL files
code/__pycache__/
code/*.py[cod]
code/*$py.class

# Distribution / packaging
code/build/
code/dist/
code/*.egg-info/
code/.installed.cfg
code/*.egg

# Pip and environment files
code/pip-log.txt
code/pip-delete-this-directory.txt
code/Pipfile
code/Pipfile.lock
code/poetry.lock

# Jupyter Notebook checkpoints
code/.ipynb_checkpoints/

# IDE and editor files
code/.vscode/
code/.idea/
code/*.swp
code/*.swo
code/*.sublime-project
code/*.sublime-workspace

# Logs and debug files
code/*.log
code/debug.log

# Python testing and coverage
code/.tox/
code/.nox/
code/.coverage
code/coverage.xml
code/*.cover
code/*.pycover
code/.hypothesis/
code/.pytest_cache/
code/nosetests.xml
code/test-results/

# MyPy type checking
code/.mypy_cache/
code/.dmypy.json
code/dmypy.json

# C extensions
code/*.so

# Database files
code/*.sqlite3
code/*.db

# Docker and deployment
code/Dockerfile
code/*.dockerignore

# Cache
code/.cache/

# igonre for now
Code-15/
Code-15-base/
samitrop-base/
ptb-base/